.delivery-option .col-sm-5.col-xs-12 .col-xs-9,
.delivery-option .col-sm-5.col-xs-12 .col-xs-3 {
    width: 50%;
}
#content legend img {
	height:16px;
}
#orderadmin_configuration .scrollbox {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    font-size: 12px;
    height: 150px;
    margin: 10px 0;
    overflow: auto;
    width: 300px;
}
#orderadmin_configuration .scrollbox > div {
    float: left;
    width: 100%;
}
#orderadmin_configuration .scrollbox > div input{
    cursor: pointer;
}
#orderadmin_configuration .scrollbox > div label {
    text-align: left;
	padding: 5px 0;
    cursor: pointer;
}
#orderadmin_configuration .scrollbox div.odd {
    background: none repeat scroll 0 0 #E4EEF7;
}
#orderadmin_configuration  .orderadmin_button {
	font-size: 12px;
	cursor: pointer;
}
#orderadmin_configuration  .help {
    color: #808080;
    font-size: 11px;
}
.orderadmin_required:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
#orderadmin_configuration .orderadmin_error, .orderadmin_user  .orderadmin_error {
	color: red;
	padding: 15px 15px 15px 45px;
	width: auto;
}

.orderadmin_user select, .orderadmin_user input, #orderadmin_configuration select, #orderadmin_configuration input, .orderadmin_generate select, .orderadmin_generate input, #orderadmin_configuration a, #orderadmin_configuration table, #orderadmin_configuration div.scrollbox, #orderadmin_configuration td > span {
    margin-left: 10px;
    padding: 5px;
	width: 100%;
}
.orderadmin_user  label {
	width: 100%;
}
.orderadmin_user td {
	padding: 3px 0;
}
.orderadmin_user .td1 {
	width: 200px;
}

#orderadmin_configuration {
	margin: 10px 0;
}
#orderadmin_configuration tr td {
    border-top: 1px solid #EBEDF4;
    padding: 5px 0;
}
#orderadmin_configuration tr:first-child td {
	border-top: none;
}
#orderadmin_configuration hr {
	float:left;
	width:100%;
	margin: 5px 0;
}

#orderadmin_configuration input[type=checkbox] {
	float: left;
	margin: 5px;
}
#orderadmin_configuration select#orderadmin_oc {
	float: left;
}
#orderadmin_configuration span#total_for_oc {
	float: left;
	margin: 4px;
}
#orderadmin_configuration select#orderadmin_sms {
	float: left;
}
#orderadmin_configuration span#sms_no {
	float: left;
	margin: 4px;
}
#orderadmin_configuration select#orderadmin_payment_method {
	float: left;
}
#orderadmin_configuration span#key_word {
	float: left;
	margin: 4px;
}
#orderadmin_configuration select#orderadmin_cd_agreement {
	float: left;
}
#orderadmin_configuration span#cd_agreement_num {
	float: left;
	margin: 0 4px;
}
#orderadmin_configuration span#cd_agreement_num  > label {
	margin-top: 5px;
}
#orderadmin_configuration .td1 {
	width:200px;
}
#orderadmin_configuration .td2 {
	width:450px;
}
.services_buttons {
	margin-bottom: 5px;
}
.orderadmin_generate label {
	float: left;
}
.orderadmin_generate .button, .input[name=orderadmin_generate] {
	cursor: pointer;
}
.orderadmin_generate .td1 {
	width: 200px;
}
.orderadmin_generate .td2 {
	width: 120px;
}
#orderadmin .orderadmin_generate > tbody > tr > td:first-child  {
	border-bottom: 1px solid #ccc;
	padding-right:5px;
	text-align: right;
	width: 200px;
}
.orderadmin_generate select#sms {
	float: left;
}
.orderadmin_generate span#sms_num {
	float: left;
	margin: 4px 4px 0 4px;
}
.orderadmin_generate td:first-child  label{
	text-align: right;
	width:100%;
}
#orderadmin .orderadmin_generate tbody > tr > td {
    padding: 5px;
}
.orderadmin_generate hr {
	float:left;
	border:1px dashed grey;
	width:100%;
}
.orderadmin_generate input[type=checkbox] {
	margin: 5px;
}

.orderadmin_generate #inventory_type_loading {
    color: red;
    float: left;
    padding: 5px 10px;
}
.orderadmin_generate span#get_instructions {
    display: inline-block;
    margin: 10px 0;
}

table td.pay_accept {
	padding: 12px 10px;
}
table td.pay_accept input[type=checkbox]{
	float: left;
}

/*Front CSS styles*/
.orderadmin_shipping input[type=text] {
    margin: 2px 0;
	position: relative;
}
.orderadmin_shipping input[type=checkbox] {
    margin: 5px 0;
	position: relative;
}.orderadmin_shipping input[type=radio] {
    margin: 5px 0 5px 5px;
	position: relative;
}
.orderadmin_shipping select {
	margin: 2px 0;
	position: relative;
}

#orderadmin_form .buttons > table {
	margin: 10px;
}
#orderadmin_form table td {
	padding: 2px 0;
}
#orderadmin_form .content table td:first-child label {
	text-align: right;
	width: 130px;
}
#orderadmin_form .content table td:first-child label {
	margin-right: 10px;
}
.buttons > .button {
	cursor: pointer;
}
#calculate_price {
	font-size:14px;
}

.orderadmin_cod {
	margin: 20px 0;
	width: 100%;
	border-bottom: 1px dashed #2D2D2D;
}
.orderadmin_cod  td {
	padding: 5px 0;
}

.orderadmin_shipping {
	margin: 10px 0;
	width: 100%;
	border-bottom: 1px dashed #2D2D2D;
}
.orderadmin_shipping  td {
	padding: 2px 0;
}

#orderadmin_methods {
	margin: 15px 10px;
}
#orderadmin_methods table {
	width: 100%;
}
#orderadmin_methods th {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
#orderadmin_methods td {
	padding: 3px 0;
}
#orderadmin_methods td input, #orderadmin_methods td  label {
	cursor: pointer;
}

.hook_extracarrier  div#loading_orderadmin {
    border: 1px solid #9E6014;
    color: #9E6014;
	display: none;
	background: #FEEFB3;
	padding:5px 15px;
	margin-bottom: 10px;
}
.hook_extracarrier  div#loading_orderadmin > img {
	margin-right: 10px;
}

#orderadmin_loading {
	position: relative;
}
#orderadmin_loading > div#courier {
    position: absolute;
    right: 10px;
    top: 5px;
}
#orderadmin_loading > div#courier > a {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #CCCED7;
    color: #585A69;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
}
#orderadmin_loading table td {
	padding:4px 0;
}
#orderadmin_loading table.tracking {
    border: 1px dashed;
	padding:2px;
}
#orderadmin_loading table.tracking thead  td {
    border-bottom: 1px dashed;
}
#orderadmin_loading table.tracking  td {
	border-right: 1px dashed;
}
#orderadmin_loading table.tracking td:last-child {
    border-right: none;
}

.orderadmin_order_return {
	width: 100%;
	font-size: 14px;
	background: none repeat scroll 0 0 #CCCCCC;
    margin: 20px 0;
}
.orderadmin_order_return td {
    padding: 15px 20px;
}

table#inventory_types {
    width: 100%;
	margin:5px 0;
	border:2px dotted #d2d2d2;
}

table#instructions {
    width: 100%;
	margin:5px 0;
}

#express_city_courier td:nth-child(2) label{
	float: none;
}

input[name=orderadmin_generate] {
	cursor: pointer;
	margin: 5px 0;
}

label[for=priority_time_hour_id] {
	float: none;
}

table#inventory_type_digital {
	border-spacing: 5px;
}
table#inventory_type_digital > thead td {
    font-weight: bold;
    padding: 2px 10px;
	border-bottom: 1px solid #d2d2d2;
}

#office_id {
	width: 400px;
}

.orderadmin_shipping .ui-select select, .orderadmin_shipping .ui-radio  input[type="radio"] {
	position: absolute;
}
.ui-select #office_id {
	width: 100%;
}
.button.ui-link > span {
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    margin: 5px;
    padding: 5px;
	cursor: pointer;
}

#orderadmin_methods table.orderadmin_table {
	border: 1px solid #AEB0AF;
	width: 100%;
	max-width: 440px;
	margin-top: 6px;
	margin-bottom: 6px;
}

#orderadmin_methods table.orderadmin_table  td {
	border: 1px solid #AEB0AF;
	padding: 4px;
}

#orderadmin_methods table.orderadmin_table  td.right {
	vertical-align: top;
}

td.orderadmin_table_right {
	vertical-align: top;
}
td.orderadmin_table_right select {
	margin: 0 2px
}


#loadings_curier {
    border-spacing: 0;
    width: 100%;
}
#loadings_curier td {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
#orderadmin_loading td  input[type=submit],
#orderadmin_loading a.orderadmin_button,
#loadings_curier td  input[type=submit]{
	border: 1px solid #2d2d2d;
	background: #fff;
	padding: 2px 10px;
	cursor: pointer;
	color: #2d2d2d;
	border-radius: 5px;
}

#loadings_curier  a,
#orderadmin_loading a {
	color: #49B2FF;
}

#loadings_curier td.orderadmin_success {
	text-align: center;
	color: green;
	font-weight: bold;
}
#loadings_curier td.orderadmin_error {
	text-align: center;
	color: red;
	font-weight: bold;
	display: table-cell;
}
fieldset .orderadmin_error {
    color: #FF0000;
    display: inline-block;
    margin: 10px 0;
    text-align: center;
    width: 100%;
}

#error_orderadmin_calculate {
    color: #222222;
    background: none repeat scroll 0 0 #FFCCCC;
    border: 1px solid #990000;
    font-size: 13px;
    margin: 0 0 10px;
    padding: 10px;
}

.bootstrap .pay_accept  label  {
	width: 100%;
}

.bootstrap .econt_generate_form  .btn-block {
	width: auto;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 10px;
	margin-bottom: 20px;
}
#orderadmin .orderadmin_generate label {
	line-height: 20px;
}
#orderadmin .orderadmin_generate label, #orderadmin .orderadmin_generate input, #calculate {
	float: left;
	margin: 0 0 0 10px;
}

#content.bootstrap #orderadmin_box {
	background-color: #E1EBF5;
}
#content.bootstrap #orderadmin_box .orderadmin_generate select,
#content.bootstrap #orderadmin_box .orderadmin_generate input {
    width: auto;
	display: inline-block;
}
#content.bootstrap #orderadmin_box .orderadmin_button {
	margin: 0 5px;
}
#content.bootstrap  #orderadmin_box  #orderadmin_form button {
	width: auto;
	margin-top: 10px;
	padding: 3px 5px;
}
#weight_dimensions thead tr td center {
	width:157px;
}
table.orderadmin_generate > tbody > tr > td .form-control,
table.orderadmin_generate > tbody > tr > td input[type="text"],
table.orderadmin_generate > tbody > tr > td input[type="search"],
table.orderadmin_generate > tbody > tr > td input[type="password"],
table.orderadmin_generate > tbody > tr > td textarea,
#orderadmin_form table.orderadmin_generate > tbody > tr > td select,
#orderadmin_form .orderadmin_generate #orderadmin_quarter,
#orderadmin_form .orderadmin_generate #orderadmin_object,
#orderadmin_form .orderadmin_generate #orderadmin_note,
#orderadmin_form .orderadmin_generate #orderadmin_address_1,
#orderadmin_form .orderadmin_generate #orderadmin_address_2 {
	width: 97.8%;
}
table.orderadmin_generate > tbody > tr > td label[for=orderadmin_state],
table.orderadmin_generate > tbody > tr > td label[for=orderadmin_postcode],
table.orderadmin_generate > tbody > tr > td label[for=orderadmin_street_no] {
	text-align: right;
	width: 10%
}
table.orderadmin_generate > tbody > tr > td label[for=orderadmin_entrance_no],
table.orderadmin_generate > tbody > tr > td label[for=orderadmin_floor_no],
table.orderadmin_generate > tbody > tr > td label[for=orderadmin_apartment_no] {
	text-align: right;
	width: 9.6%;
}

.orderadmin_generate #orderadmin_city, .orderadmin_generate #orderadmin_street {
	width: 364px;
}
#orderadmin .orderadmin_generate #orderadmin_cod_yes,
#orderadmin .orderadmin_generate #orderadmin_cod_no,
#orderadmin .orderadmin_generate #orderadmin_shipping_to_door,
#orderadmin .orderadmin_generate #orderadmin_shipping_to_office {
	margin-top: 3px;
}
.orderadmin_generate #orderadmin_block_no,
.orderadmin_generate #orderadmin_entrance_no,
.orderadmin_generate #orderadmin_floor_no,
.orderadmin_generate #orderadmin_apartment_no {
	width: 15%;
}
.orderadmin_generate #orderadmin_country, .orderadmin_generate #orderadmin_city, .orderadmin_generate #orderadmin_street {
	width: 65%;
}
.orderadmin_generate #orderadmin_state, .orderadmin_generate #orderadmin_postcode, .orderadmin_generate #orderadmin_street_no {
	width: 19.8%;
}
#orderadmin_form #parcels_size input {
	width: 90.9%;
}
#orderadmin_configuration .dark-gray {
	background-color: #D9D9D9;
}
#orderadmin_configuration .dark-gray.start-group td {
	border-top: 10px solid #EBEDF4;
}

.orderadmin_public label[for=orderadmin_state],
.orderadmin_public label[for=orderadmin_postcode],
.orderadmin_public label[for=orderadmin_street_no] {
	width: 19%;
}
.orderadmin_public label[for=orderadmin_entrance_no],
.orderadmin_public label[for=orderadmin_floor_no],
.orderadmin_public label[for=orderadmin_apartment_no] {
	width: 7.45%;
}
.orderadmin_public label[for=orderadmin_shipping_to_office],
.orderadmin_public label[for=orderadmin_shipping_to_door],
.orderadmin_public label[for=orderadmin_cod_yes],
.orderadmin_public label[for=orderadmin_cod_no] {
	line-height: 12px;
}
#orderadmin_form .content table td:first-child label {
	margin-right: 0;
	padding-right: 5px;
	width: 110px;
}
#orderadmin_form.PS_V17 .form-control {
	display: initial;
}
#orderadmin_form.PS_V17 input[type=radio].form-control {
	width: 4%;
}
/*-----------------------------------------------------------------------*/
table.orderadmin_public {
	width: 600px;
}
#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_city,
#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_street {
	width: 63.5%;
}
#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_city,
#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_street {
	width: 58.3%;
}
#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_postcode,
#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_street_no {
	width: 25%;
}
#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_postcode,
#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_street_no {
	width: 18.3%;;
}
#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_block_no,
#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_floor_no,
#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_apartment_no,
#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_entrance_no {
	width: 17.45%;
}
#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_block_no,
#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_floor_no,
#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_apartment_no,
#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_entrance_no {
	width: 17.55%;
}
#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_country,
#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_state {
	width: 38.3%;
}
#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_country,
#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_state {
	width: 38.3%;
}
#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_quarter,
#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_note,
#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_office_id,
#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_address_1,
#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_address_2,
#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_object {
	width: 97.2%;
}
#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_quarter,
#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_note,
#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_office_id,
#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_address_1,
#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_address_2,
#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_object {
	width: 97.2%;
}
/*-----------------------------------------------------------------------*/
@media screen and (max-width: 1200px) {
	table.orderadmin_public {
		width: 500px;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_city,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_street {
		width: 63.1%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_city,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_street {
		width: 62.8%;;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_postcode,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_street_no {
		width: 25%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_postcode,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_street_no {
		width: 25%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_block_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_floor_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_apartment_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_entrance_no {
		width: 17.1%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_block_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_floor_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_apartment_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_entrance_no {
		width: 17.1%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_country,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_state {
		width: 38.1%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_country,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_state {
		width: 38%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_quarter,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_note,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_office_id,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_address_1,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_address_2,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_object {
		width: 97.2%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_quarter,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_note,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_office_id,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_address_1,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_address_2,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_object {
		width: 96.6%;
	}
}
@media screen and (max-width: 992px) {
	#orderadmin_form.PS_V17 input[type=radio].form-control {
		width: 6%;
	}
	#orderadmin_form.PS_V17 table.orderadmin_public {
		width: 360px;
	}
	#orderadmin_form.PS_V16 table.orderadmin_public {
		width: 705px;
	}
	#orderadmin_shipping_to_door,
	#orderadmin_shipping_to_office,
	#orderadmin_shipping_to_apt {
		margin-left: 10px;
	}
	#orderadmin_form.PS_V17 label[for=orderadmin_shipping_to_door],
	#orderadmin_form.PS_V17 label[for=orderadmin_shipping_to_office],
	#orderadmin_form.PS_V17 label[for=orderadmin_shipping_to_apt] {
		width: 210px;
		text-align: left;
	}
	#orderadmin_form.PS_V16 label[for=orderadmin_shipping_to_door],
	#orderadmin_form.PS_V16 label[for=orderadmin_shipping_to_office],
	#orderadmin_form.PS_V16 label[for=orderadmin_shipping_to_apt] {
		width: initial;
		text-align: left;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_city,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_street {
		width: 60%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_city,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_street {
		width: 53%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_postcode,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_street_no {
		width: 25%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_postcode,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_street_no {
		width: 25%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_block_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_floor_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_apartment_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_entrance_no {
		width: 15.9%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_block_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_floor_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_apartment_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_entrance_no {
		width: 15.05%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_country,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_state {
		width: 37.3%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_country,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_state {
		width: 33%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_quarter,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_note,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_office_id,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_address_1,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_address_2,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_object {
		width: 95.8%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_office_id {
		width: 84%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_quarter,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_note,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_address_1,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_address_2,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_object {
		width: 86.2%
	}
}
@media screen and (max-width: 770px) {
	#orderadmin_form.PS_V17 table.orderadmin_public {
		width: 465px;
	}
	#orderadmin_form.PS_V16 table.orderadmin_public {
		width: 450px;
	}
	#orderadmin_shipping_to_door,
	#orderadmin_shipping_to_office,
	#orderadmin_shipping_to_apt {
		margin-left: 0;
	}
	#orderadmin_form.PS_V17 label[for=orderadmin_shipping_to_door],
	#orderadmin_form.PS_V17 label[for=orderadmin_shipping_to_office],
	#orderadmin_form.PS_V17 label[for=orderadmin_shipping_to_apt] {
		width: 86px;
	}
	#orderadmin_form.PS_V16 input[type=radio] {
		width: 10%;
	}
	.orderadmin_public label[for=orderadmin_state],
	.orderadmin_public label[for=orderadmin_postcode],
	.orderadmin_public label[for=orderadmin_street_no] {
		width: 22%;
	}
	#orderadmin_form.PS_V16 label[for=orderadmin_shipping_to_door],
	#orderadmin_form.PS_V16 label[for=orderadmin_shipping_to_office],
	#orderadmin_form.PS_V16 label[for=orderadmin_shipping_to_apt],
	#orderadmin_form.PS_V17 label[for=orderadmin_shipping_to_door],
	#orderadmin_form.PS_V17 label[for=orderadmin_shipping_to_office],
	#orderadmin_form.PS_V17 label[for=orderadmin_shipping_to_apt] {
		text-align: left;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_city,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_street {
		width: 61.6%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_city,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_street {
		width: 59.9%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_postcode,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_street_no {
		width: 25%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_postcode,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_street_no {
		width: 25%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_block_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_floor_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_apartment_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_entrance_no {
		width: 17.4%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_block_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_floor_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_apartment_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_entrance_no {
		width: 17.1%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_country,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_state {
		width: 37.3%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_country,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_state {
		width: 36.6%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_quarter,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_note,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_office_id,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_address_1,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_address_2,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_object {
		width: 99%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_office_id {
		width: 97%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_quarter,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_note,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_address_1,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_address_2,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_object {
		width: 97.2%;
	}
}
@media screen and (max-width: 600px) {
	#orderadmin_form.PS_V17 table.orderadmin_public {
		width: 450px;
	}
	#orderadmin_form.PS_V16 table.orderadmin_public {
		width: 410px;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_city,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_street {
		width: 56.5%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_city,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_street {
		width: 60%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_postcode,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_street_no {
		width: 25%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_postcode,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_street_no {
		width: 25%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_block_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_floor_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_apartment_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_entrance_no {
		width: 16.15%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_block_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_floor_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_apartment_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_entrance_no {
		width: 17.1%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_country,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_state {
		width: 35%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_country,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_state {
		width: 36.6%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_quarter,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_note,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_office_id,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_address_1,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_address_2,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_object {
		width: 95.8%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_office_id {
		width: 97%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_quarter,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_note,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_address_1,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_address_2,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_object {
		width: 99.8%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public label[for=orderadmin_entrance_no],
	#orderadmin_form.PS_V17 .orderadmin_public label[for=orderadmin_floor_no],
	#orderadmin_form.PS_V17 .orderadmin_public label[for=orderadmin_apartment_no] {
		width: 8%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public label[for=orderadmin_entrance_no],
	#orderadmin_form.PS_V16 .orderadmin_public label[for=orderadmin_floor_no],
	#orderadmin_form.PS_V16 .orderadmin_public label[for=orderadmin_apartment_no] {
		width: 8%;
	}
	.orderadmin_public label[for=orderadmin_state],
	.orderadmin_public label[for=orderadmin_postcode],
	.orderadmin_public label[for=orderadmin_street_no] {
		width: 24%;
	}
}
@media screen and (max-width: 490px) {
	#orderadmin_shipping_to_door,
	#orderadmin_shipping_to_office,
	#orderadmin_shipping_to_apt {
		margin-left: 10px;
	}
	#orderadmin_form.PS_V17 table.orderadmin_public {
		width: 400px;
	}
	#orderadmin_form.PS_V16 table.orderadmin_public {
		width: 400px;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_city,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_street {
		width: 57.6%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_city,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_street {
		width: 56.7%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_postcode,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_street_no {
		width: 25%;
		padding-left: 5px;
		padding-right: 5px;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_postcode,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_street_no {
		width: 25%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_block_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_floor_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_apartment_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_entrance_no {
		width: 17.13%;
		padding-left: 5px;
		padding-right: 5px;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_block_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_floor_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_apartment_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_entrance_no {
		width: 16.9%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_country,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_state {
		width: 35.3%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_country,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_state {
		width: 35%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_quarter,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_note,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_office_id,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_address_1,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_address_2,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_object {
		width: 99.3%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_quarter,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_note,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_office_id,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_address_1,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_address_2,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_object {
		width: 97.4%;
	}
	#orderadmin_form.PS_V16 label[for=orderadmin_shipping_to_door],
	#orderadmin_form.PS_V16 label[for=orderadmin_shipping_to_office],
	#orderadmin_form.PS_V16 label[for=orderadmin_shipping_to_apt] {
		width: 230px;
		text-align: left;
	}
	#orderadmin_form.PS_V17 label[for=orderadmin_shipping_to_door],
	#orderadmin_form.PS_V17 label[for=orderadmin_shipping_to_office],
	#orderadmin_form.PS_V17 label[for=orderadmin_shipping_to_apt] {
		width: 240px;
	}
	#orderadmin_form.PS_V17 .orderadmin_public label[for=orderadmin_state],
	#orderadmin_form.PS_V17 .orderadmin_public label[for=orderadmin_postcode],
	#orderadmin_form.PS_V17 .orderadmin_public label[for=orderadmin_street_no] {
		width: 26%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public label[for=orderadmin_state],
	#orderadmin_form.PS_V16 .orderadmin_public label[for=orderadmin_postcode],
	#orderadmin_form.PS_V16 .orderadmin_public label[for=orderadmin_street_no] {
		width: 25%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public label[for=orderadmin_entrance_no],
	#orderadmin_form.PS_V17 .orderadmin_public label[for=orderadmin_floor_no],
	#orderadmin_form.PS_V17 .orderadmin_public label[for=orderadmin_apartment_no] {
		width: 7.45%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public label[for=orderadmin_entrance_no],
	#orderadmin_form.PS_V16 .orderadmin_public label[for=orderadmin_floor_no],
	#orderadmin_form.PS_V16 .orderadmin_public label[for=orderadmin_apartment_no] {
		width: 7.45%;
	}
}
@media screen and (max-width: 450px) {
	#orderadmin_form .content table td:first-child label {
		margin-right: 0;
		width: 84px;
	}
	#orderadmin_form.PS_V17 table.orderadmin_public {
		width: 350px;
	}
	#orderadmin_form.PS_V16 table.orderadmin_public {
		width: 350px;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_city,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_street {
		width: 49%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_city,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_street {
		width: 51.4%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_postcode,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_street_no {
		width: 25%;
		padding-left: 5px;
		padding-right: 5px;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_postcode,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_street_no {
		width: 17%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_block_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_floor_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_apartment_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_entrance_no {
		width: 15.4%;
		padding-left: 5px;
		padding-right: 5px;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_block_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_floor_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_apartment_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_entrance_no {
		width: 16.9%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_country,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_state {
		width: 31.3%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_country,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_state {
		width: 34.3%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_quarter,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_note,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_office_id,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_address_1,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_address_2,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_object {
		width: 93.4%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_quarter,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_note,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_office_id,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_address_1,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_address_2,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_object {
		width: 98%;
	}
	#orderadmin_form.PS_V17 label[for=orderadmin_shipping_to_door],
	#orderadmin_form.PS_V17 label[for=orderadmin_shipping_to_office],
	#orderadmin_form.PS_V17 label[for=orderadmin_shipping_to_apt] {
		width: 210px;
	}
	#orderadmin_form.PS_V16 label[for=orderadmin_shipping_to_door],
	#orderadmin_form.PS_V16 label[for=orderadmin_shipping_to_office],
	#orderadmin_form.PS_V16 label[for=orderadmin_shipping_to_apt] {
		width: 210px;
		text-align: left;
	}
	#orderadmin_form.PS_V17 .orderadmin_public label[for=orderadmin_entrance_no],
	#orderadmin_form.PS_V17 .orderadmin_public label[for=orderadmin_floor_no],
	#orderadmin_form.PS_V17 .orderadmin_public label[for=orderadmin_apartment_no] {
		width: 7.45%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public label[for=orderadmin_entrance_no],
	#orderadmin_form.PS_V16 .orderadmin_public label[for=orderadmin_floor_no],
	#orderadmin_form.PS_V16 .orderadmin_public label[for=orderadmin_apartment_no] {
		width: 7.45%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public label[for=orderadmin_state],
	#orderadmin_form.PS_V17 .orderadmin_public label[for=orderadmin_postcode],
	#orderadmin_form.PS_V17 .orderadmin_public label[for=orderadmin_street_no] {
		width: 28%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public label[for=orderadmin_state],
	#orderadmin_form.PS_V16 .orderadmin_public label[for=orderadmin_postcode],
	#orderadmin_form.PS_V16 .orderadmin_public label[for=orderadmin_street_no] {
		width: 27%;
	}
}
@media screen and (max-width: 375px) {
	#orderadmin_form.PS_V17 table.orderadmin_public {
		width: 310px;
	}
	#orderadmin_form.PS_V16 table.orderadmin_public {
		width: 310px;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_city,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_street {
		width: 68.4%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_city,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_street {
		width: 52.4%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_postcode,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_street_no {
		width: 25%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_postcode,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_street_no {
		width: 25%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_block_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_floor_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_apartment_no,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_entrance_no {
		width: 15.9%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_block_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_floor_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_apartment_no,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_entrance_no {
		width: 16.3%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_country,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_state {
		width: 37.3%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_country,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_state {
		width: 33.1%;
	}
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_quarter,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_note,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_office_id,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_address_1,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_address_2,
	#orderadmin_form.PS_V17 .orderadmin_public #orderadmin_object {
		width: 99.6%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_quarter,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_note,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_office_id,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_address_1,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_address_2,
	#orderadmin_form.PS_V16 .orderadmin_public #orderadmin_object {
		width: 98%;
	}
	#orderadmin_form.PS_V16 label[for=orderadmin_shipping_to_door],
	#orderadmin_form.PS_V16 label[for=orderadmin_shipping_to_office],
	#orderadmin_form.PS_V16 label[for=orderadmin_shipping_to_apt] {
		width: 180px;
		text-align: left;
	}
	#orderadmin_form.PS_V17 .orderadmin_public label[for=orderadmin_entrance_no],
	#orderadmin_form.PS_V17 .orderadmin_public label[for=orderadmin_floor_no],
	#orderadmin_form.PS_V17 .orderadmin_public label[for=orderadmin_apartment_no] {
		width: 7.45%;
	}
	#orderadmin_form.PS_V16 .orderadmin_public label[for=orderadmin_entrance_no],
	#orderadmin_form.PS_V16 .orderadmin_public label[for=orderadmin_floor_no],
	#orderadmin_form.PS_V16 .orderadmin_public label[for=orderadmin_apartment_no] {
		width: 7.45%;
	}
}
#loading_info {
	width: 100%;
}

#loading_info td {
	padding: 4px !important;
}

#loading_info td.min {
	width: 1%;
    white-space: nowrap;
}
.orderadmin_generate #orderadmin_methods div {
	line-height: 30px;
	float: left;
}
.orderadmin_generate #orderadmin_methods div, .orderadmin_generate #orderadmin_methods label, .orderadmin_generate #orderadmin_methods input, .orderadmin_generate #orderadmin_methods select {
	float: initial;
}
#orderadmin_methods table {
	margin-left: 10px;
	line-height: 10px;
}
#orderadmin_methods .orderadmin_fixed_time_cb select, #orderadmin_methods .orderadmin_fixed_time_cb input, #orderadmin_methods .orderadmin_fixed_time_cb label {
	margin: 5px;
	float: left;
}
#orderadmin_methods .orderadmin_fixed_time_cb select {
	width: 55px !important;
}
#orderadmin_methods .orderadmin_fixed_time_cb {
	margin: 0 0 0 20px;
	height: 45px;
}
[id^=orderadmin_fixed_time] {
	margin-left: 5px;
}
#orderadmin_form.PS_V16 p.checkbox,
#orderadmin_form.PS_V16 #uniform-orderadmin_fixed_time_min,
#orderadmin_form.PS_V16 #uniform-orderadmin_fixed_time_hour {
	display: inline-block;
}
#orderadmin_form.PS_V16 .delivery_service_options input, #orderadmin_form.PS_V16 .delivery_service_options select {
    font-size: 1.3rem;
    display: initial;
}
#orderadmin_form.PS_V17 .delivery_service_options input, #orderadmin_form.PS_V17 .delivery_service_options select {
	font-size: 0.875rem;;
}
#orderadmin_city_container label[for=orderadmin_postcode],
#orderadmin_street_container label[for=orderadmin_street_no],
#orderadmin_block_no_container label[for=orderadmin_entrance_no],
#orderadmin_block_no_container label[for=orderadmin_floor_no],
#orderadmin_block_no_container label[for=orderadmin_apartment_no],
label[for=orderadmin_state] {
	text-align: right;
	line-height: 30px;
}
.orderadmin_generate span.help {
	font-weight: normal;
}
#orderadmin_form {
    position: relative;
}
#orderadmin_form .blur.delivery_service_options {
    opacity: 0.4;
}

#orderadmin_form .wait {
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    line-height: 3;
    text-align: center;
    color: #000;
}

#orderadmin_form .wait div {
    font-size: 15px;
    margin: 10% auto;
    background: #f5f5f5;
    width: 85%;
    border-radius: 6px;
    border: 1px solid #ddd;
}

#orderadmin_tabel {
	width:100%;
}

.spacer {
	display: block;
	margin-top: 40px;
}

.orderadmin_radio_btn {
	display: inline-block;
	position: relative;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 50%;
	border: 2px solid #7a7a7a;
	background: #fff;
}

body#checkout section.checkout-step .orderadmin_radio_btn input[type=radio] {
	height: 1.25rem;
	width: 1.25rem;
}

.orderadmin_radio_btn input[type=radio] {
	opacity: 0;
	cursor: pointer;
}

.rate_price {
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	margin-top: 10px;
}

.rate_name {
	text-align: center;
	margin-top: 10px;
}

.orderadmin_radio_btn input[type=radio]:checked+span {
	display: block;
	background-color: #2fb5d2;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	left: .125rem;
	top: .125rem;
}

.oa_row {
	background: #f6f6f6;
	padding: .9375rem 0;
	margin-bottom: .5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.oa_row .orderadmin_radio_btn{
	-webkit-box-flex:0;
	-ms-flex:0 0 auto;
	flex:0 0 auto
}

.oa_row label{
	text-align:inherit;
}

.oa_row .col-sm-5.col-xs-12 .col-xs-9,
.oa_row .col-sm-5.col-xs-12 .col-xs-3 {
	width: 50%;
}

.oa_row .custom-radio input[type=radio]:checked+span {
	display: block!important;
	background-color: #2fb5d2!important;
	width: 12px!important;
	height: 12px!important;
	border-radius: 50%!important;
	position: absolute!important;
	left: .125rem!important;
	top: .125rem!important;
}

.office_select {
	color: #000;
	background-color: #fff;
}

.row_select {
	margin-bottom: 1.2rem;
}

.office_label {
	text-align: center;
	margin-top: 10px;
}

#checkout_address_panel {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	border-top: 1px solid #eee;
}

#checkout_address_panel table td:first-child label {
	padding-right: 0!important;
	width: 100%!important;
	text-align: center!important;
}
